form {
    font-size: larger;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    text-align: center;
    border-radius: 30px;
}
input {

    border: 2px solid black;
    font-weight: 600;
    font-size: 15px;
    padding: 10px;
}
section {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 30px;
}
button {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 30px;
}